{% extends "base.html" %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/showroom_dashboard.css' %}">
{% endblock %}
{% block content %}
<!-- Hero Section -->
<div class="hero">
    <div class="hero-text">
        <h2>Manage Your Vehicles & Deals</h2>
        <p>Easily manage inventory, track sales and deals from one dashboard.</p>
        <a href="{% url 'vehicle' %}" class="btn-primary"><span>View Inventory</span></a>
    </div>
    <div class="hero-img flex-shrink-1">
        <img src="{% static 'img/hero-img-3.jpg'}" alt="Car Image" class="img-fluid rounded">
    </div>
</div>

<!-- Action Buttons -->
<div class="actions mb-4 d-flex flex-wrap gap-2">
    <a href="{% url 'add_vehicle' %}" class="btn btn-primary"><i class="bi bi-car-front"></i> Add Vehicle</a>
    <a href="{% url 'new_deal' %}" class="btn btn-primary"><i class="bi bi-cash-stack"></i> New Deal</a>
    <a href="{% url 'add_customer' %}" class="btn btn-primary"><i class="bi bi-cash-stack"></i>AddCustomer</a>
    <a href="#" class="btn btn-primary"> <i class="bi bi-receipt"></i> Record Expense</a>
</div>

<!-- Dashboard Cards -->
<div class="row g-4">
    <div class="col-md-3">
        <div class="card p-3">
            <h6><i class="bi bi-car-front-fill me-2"></i>Total Vehicles</h6>
            <h3>{{ total_vehicle }}</h3>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card p-3">
            <h6><i class="bi bi-alipay me-2"></i>Vehicles Sold</h6>
            <h3>{{sold_vehicle}}</h3>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card p-3">
            <h6><i class="bi bi-person-fill me-2"></i>Total Customers</h6>
            <h3>{{total_customer}}</h3>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card p-3">
            <h6><i class="bi bi-cash-stack me-2"></i>Total Profit</h6>
            <h3>{{ profit }}</h3>
        </div>
    </div>
    <!-- Tables -->
    <div class="row g-2">
        <!-- Recent Deals -->
        <div class="col-md-6">
            <div class="card table-card">
                <div class="card-header d-flex justify-content-between">
                    <h6>Recent Deals</h6>
                    <a href="#">View All</a>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Deal ID</th>
                                <th>Vehicle</th>
                                <th>Customer</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for deal in recent_deals %}
                            <tr>
                                <td>{{ deal.deal_id }}</td>
                                <td>{{ deal.vehicle_id.model_name }}</td>
                                <td>{{ deal.customer_id.name }}</td>
                                <td><span class="badge text-white bg-success">{{ deal.deal_status}}</span></td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="4">No recent deals</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Inventory Overview -->
        <div class="col-md-6">
            <div class="card table-card">
                <div class="card-header d-flex justify-content-between">
                    <h6>Inventory Overview</h6>
                    <a href="#">View All</a>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Vehicle</th>
                                <th>Model</th>
                                <th>Price</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for vehicle in recent_vehicles %}
                            <tr>
                                <td>{{ vehicle.comapny}} {{ vehicle.model_name }}</td>
                                <td>{{ vehicle.manufacturin_year }}</td>
                                <td>₹{{ vehicle.selling_price }}</td>
                                <td><span class="badge text-white bg-success">{{ vehicle.vehicle_status }}</span></td>
                            </tr>
                            {% empty %}
                            <tr colspan="4">
                                <td colspan="4">No vehicles In Inventory</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}