{% extends "base.html" %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/showroom_dashboard.css' %}">
{% endblock %}
{% block content %}
<!-- Hero Section -->
<div class="hero">
    <div class="hero-text">
        <h2>Manage Your Vehicles & Deals</h2>
        <p>Easily manage inventory, track sales and deals from one dashboard.</p>
        <button class="btn-primary">View Inventory</button>
    </div>
    <div class="hero-img flex-shrink-1">
        <img src="{% static 'img/hero-img-3.jpg'}" alt="Car Image"
            class="img-fluid rounded">
    </div>
</div>

<!-- Action Buttons -->
<div class="actions mb-4 d-flex flex-wrap gap-2">
    <a href="{% url 'add_vehicle' %}" class="btn btn-primary"><i class="bi bi-car-front"></i> Add Vehicle</a>
    <a href="{% url 'add_customer' %}" class="btn btn-primary"><i class="bi bi-cash-stack"></i> New Deal</a>
    <a href="{% url 'add_customer' %}" class="btn btn-primary"><i class="bi bi-cash-stack"></i>AddCustomer</a>
    <a href="#" class="btn btn-primary"> <i class="bi bi-receipt"></i> Record Expense</a>
</div>

<!-- Dashboard Cards -->
<div class="row g-4">
    <div class="col-md-3">
        <div class="card p-3">
            <h6>Total Vehicles</h6>
            <h3>120</h3>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card p-3">
            <h6>Vehicles Sold</h6>
            <h3>45</h3>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card p-3">
            <h6>Total Customers</h6>
            <h3>90</h3>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card p-3">
            <h6>Total Profit</h6>
            <h3>₹8,50,000</h3>
        </div>
    </div>
    <!-- Tables -->
    <div class="row g-2">
        <!-- Recent Deals -->
        <div class="col-md-6">
            <div class="card table-card">
                <div class="card-header d-flex justify-content-between">
                    <h6>Recent Deals</h6>
                    <a href="#">View All</a>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Deal ID</th>
                                <th>Vehicle</th>
                                <th>Customer</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>DT-0045</td>
                                <td>BMW 320i 2020</td>
                                <td>Aakash Patel</td>
                                <td><span class="badge bg-success">Completed</span></td>
                            </tr>
                            <tr>
                                <td>DT-0044</td>
                                <td>Audi A6 2019</td>
                                <td>Rahul Sharma</td>
                                <td><span class="badge bg-warning">Pending</span></td>
                            </tr>
                            <tr>
                                <td>DT-0043</td>
                                <td>Mercedes C-Class</td>
                                <td>Snehs Verma</td>
                                <td><span class="badge bg-danger">Cancelled</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Inventory Overview -->
        <div class="col-md-6">
            <div class="card table-card">
                <div class="card-header d-flex justify-content-between">
                    <h6>Inventory Overview</h6>
                    <a href="#">View All</a>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Vehicle</th>
                                <th>Model</th>
                                <th>Price</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Audi A6</td>
                                <td>2019</td>
                                <td>₹32,00,000</td>
                                <td><span class="badge bg-primary">In Stock</span></td>
                            </tr>
                            <tr>
                                <td>BMW 320i</td>
                                <td>2020</td>
                                <td>₹28,50,000</td>
                                <td><span class="badge bg-primary">In Stock</span></td>
                            </tr>
                            <tr>
                                <td>Mercedes C-Class</td>
                                <td>2021</td>
                                <td>₹45,00,000</td>
                                <td><span class="badge bg-success">Sold</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endblock %}